@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/* font-family: 'Do Hyeon', sans-serif; */
/* font-family: "Noto Sans KR", sans-serif; 100,300,400,500,700,900 */
/* font-family: "Noto Sans KR", "NanumGothic", "Nanum Gothic", "Malgun Gothic", "Apple SD Gothic Neo", dotum, sans-serif;*/
/*  폰트 적용 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400&display=swap&subset=korean');

@font-face { font-family: '국립박물관문화재단클래식M'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식M.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: '국립박물관문화재단클래식L'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식L.woff') format('woff'); font-weight: normal; font-style: normal; }


/*========================구역설정==========================*/
/* layout */
#wrap {width: 100%;}
#header {background-color:#fff;}
#header_subArea{background:#eaeaea;}
/* #header_navArea{background:#red;} */

#banner {width: 100%; height: 550px;  background-color: #a0d1ee; /*background:  url(../../image/indexPage02.png);*/ }
#contents {}
#sub_contents {}
#footer {}

/* container */
.container {width: 1250px; margin: 0 auto; position: relative;  /* background-color: rgba(0,0,0,0.4); */}

/* layout */

#cont{display:float;}
#cont1 {width: 100%; height: 50px; background-color: #fff; }
#cont2 {display:flex; width: 1280px; height: 80%; margin:10px auto;/*background: url(../../image/indexPage02.png) 0 14px;*/ border-bottom: 1px solid #e6e6e6;}
#cont3 {display:flex; width:1280px; height: 20%; margin:10px auto; border-bottom: 1px solid #e6e6e6;}
#cont4 {width:1280px; height: 20%; margin:10px auto; border-bottom: 1px solid #e6e6e6;}
#cont5 {display:flex; width:1280px;  heiht:80%; margin:10px auto; border:1px solid #eaeaea;}


#left_section{width:14%; height: 100%; float: left;  background-color: #fff; border-right:1px solid #404b57; }
#right_section{width:86%; height: 100%; float:right;  background-color: #fff; border-right:3px solid  #e6e6e6;}

#middle_left_section{width:25%; height: 100%; float: left;  background-color: #fff; border-right:1px solid #e6e6e6; }
#middle_right_section{width:75%; height: 100%; float:right;  background-color: #fff; border-right:3px solid  #e6e6e6;}

#bottom_section{width:100%; height:50%; float:bottom; background-color: #fff; border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}

#leftArea{width:33.333%; height:100%; float:left;border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}
#middleArea{width:33.333%; height:100%; float:center; border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}
#rightArea{width:33.333%; height:100%; float:right; border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}


#leftleftArea{width:25%; height:100%; float:left; border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}
#leftrightArea{width:25%; height:100%; float:left; border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}
#rightleftArea{width:25%; height:100%; float:right;border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}
#rightrightArea{width:25%; height:100%; float:right; border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}


#left_half{width:50%; height:100%; float:left; border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}
#right_half{width:50%; height:100%; float:left; border-right:3px solid #e6e6e6; border-left:1px solid #e6e6e6;}


/* footer layout */
#footer_notice {width: 100%; height: 71px; line-height: 71px; background-color: #fff; border-bottom: 1px solid #e6e6e6;}
#footer_info {width: 100%; height: 242px; background-color: #f7f8f9;}


/* header */
#header-top{width:100% }
#header-top .hTopIn{width:100%; background:#4999b4;color:#fff; margin:0 auto; } 
#header-top .hTopIn .adver{text-align:center;color:#fff;height:100px;line-height:100px;font-size:36px; background: url(../../img/Banner/middle_Banner03.png) no-repeat;} 
/*높이 잡아주고...*/
#header-top .hTopIn .down{width:100%;height:15px;background:#fff; color:#000; border:none;} /*버튼*/


.header {overflow: hidden; font-family: 'HanaB';}
.header li {background: url(../img/bar1.gif) no-repeat 0 14px;}
.header li a {display: block; padding: 8px 15px; font-size: 13px; margin: 7px 0;}
.header .list1 {float: left; overflow: hidden;}
.header .list1 li {float: left; }
.header .list1 li.green a {background: #00907f; color:#fff; border-radius: 3px; }
.header .list1 li a {color: #333;}
.header .list2 {float: right; overflow: hidden;}
.header .list2 li {float: left;}
.header .list2 li:last-child a {padding-right: 0;}
.header .list2 li.log {margin-right: 13px; background:none;}
.header .list2 li.log a {border: 1px solid #ccc; border-radius: 3px; padding: 3px 10px; margin: 11px 0;}
.header .list2 li a {color: #797979;}

/* header_sub */
#header_sub{display:flex; width:1280px; height:75px; padding-top:20px; padding-bottom:20px; margin:0px auto;  }
/* LogoArea */
#logoArea{width:14%; height: 75px; float: left; background: blue; border:1px solid #eaeaea; }
.logo img{width:100%; height:75px;}
/* searcBarArea */
#searchBarArea{width:400px; height:75px; float: center; background:yellow; border:1px solid #eaeaea;}
#searchWarp{width:100%;}
.searchBar form{left:0; right:0; padding:10px 10px;  top:0; text-align:center; background:#fff; }
.searchBar form input[type="text"]{font-size:14px; font-family:'HanaA'; padding:0 20px; height:60px; border:none; border-bottom:3px solid #34404b; width:200px; display:inline-block; 
margin-left:0px; outline:none;}
.searchBar form input[placeholder]{}
.searchBar form input[type="text"]:focus{border-bottom-color:#3498db;}
.searchBar form input[type="submit"]{display:inline-block; border:none; vertical-align:bottom; height:60px;}



#toolArea{width:30%; heigth:80px; float:right; border:1px solid #eaeaea;}
.stool{display:flex;  border-radius:5px;}
.chatbot{width:25%; background:#00907f;box-sizing: border-box;}
.recomand{width:50%;}




/* //header_sub */

/* header_nav */
#header_navArea{width:1280px; border:2px solid #e8e8e8; margin:0 auto; margin-bottom:20px;}
#header_nav{display:flex; width:1280px; height:100%; padding-top:20px; padding-bottom:20px; margin:0px auto; background:#fff; }
.nav_category{width:15%; height: 100%; float: left;  background:#fff;}
.nav_category a{font-weight:700; font-family: 'HanaA'; font-size: 14px; padding: 0px 40px; display: inline-block; transition: all 0.3s ease;}
.nav_category a:hover {color:#e63636;}

 

nav{width:55%; height:100%; float:center; font-weight:700; font-family: 'HanaA'; padding: 0px 30px; }
/*nav ul > li{border-right:1px solid #e8e8e8;}*/
nav .gnb li{display: inline;  width: 85px; padding: 30px;}
nav .gnb li a{font-size: 14px; color:#000; padding: 0px 10px; display: inline-block; transition: all 0.3s ease;}
nav .gnb li a:hover {color:#e63636;}





/* 슬라이드 */
.slider {width: 100%;}
.slider .ss1 {background: url(../img/main_slider01_2000.jpg) no-repeat center center; background-size: cover;}
.slider .ss2 {background: url(../img/main_slider02_2000.jpg) no-repeat center center; background-size: cover;}
.slider .ss3 {background: url(../img/main_slider03_2000.jpg) no-repeat center center; background-size: cover;}
.slider .swiper-slide {text-align: center;}
.slider .swiper-slide.ss3 {text-align: left;} 
.slider .swiper-slide h3 {font-size: 60px; color: #fff; margin-top: 250px; opacity: 1; }
.slider .swiper-slide p {font-size: 24px; color: #bbb; margin-bottom: 200px; font-weight: 100;}


/* recommand_book */
.recommandWrap{background:#fff; width:100%; padding: 60px 0;}
.recommandWrap h3{display:inlineblock; font-size:20px; color:#000; font-family:'HanaB'; text-transform: uppercase; padding: 15px 5px; border-bottom:1px solid #000; }
.recommandWrap h3 > span{ font-size:14px; font-family:'HanaA'; color:#999;}
.recommandWrap h3 .more { font-size: 14px; padding-top:5px; float:right; color:#999;}
.recommandWrap .recommandContents{width:100%;}
.recommandWrap .recommandContents ul {display:flex; padding: 20px 0;}
.recommandWrap .recommandContents ul li{width: 18%; margin-left:10px; height:400px; background: #eaeaea; border:1px solid #eaeaea;}
.recommandWrap .recommandContents ul li .bookImage{height:60%; border:1px solid #999;}








#book-container{background:#fff; padding:50px 0;} 
.book_conts_inner{width:1200px; height:100%; margin:0 auto; } 
.book_conts_inner h2{font-size:30px; color:#444; line-height:0.5; text-align:left;} 
#conts_list{position:relative; height:370px; margin-top:50px; } 
#conts_list:before{content:""; position:absolute; top:0; left:-100%; width:100%; height:100%; background:rgba(255,255,255,0.5); z-index:1;} 
#conts_list:after{content:""; position:absolute; top:0; right:-100%; width:100%; height:100%; background:rgba(255,255,255,0.5); z-index:2;} 
/* #book-container .bx-viewport{overflow: visible !important;} */ 
.book_list li{transition:0.5s all;} 
.book_list li span{display:block; position:relative; height:500px; border-radius:10px; overflow:hidden; background:skyblue;} 
.book_list li span img{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); max-width:100%; max-height:100%; background-color:cadetblue; } 
.book_list li dl{height:250px; padding:15px; background:fff; transition:0.5s all;} 
.book_list li dl dt{font-size:25px; color:#444; line-height:2; font-weight:bold; font-family: 'HanaB'; } 
.book_list li dl dt:after{content:""; display:block; width:20px; height:2px; background:red; margin-top:10px;} 
.book_list li dl #title a:hover{background-color: #6F606E; color: #fff; border-radius: 3px;}
.book_list li dl #price{font-size:20px; color:#444; margin-top:15px; margin-bottom:15px; font-family: 'HanaB';} 
.book_list li dl #price a{color:red; font-size:16px; }
.book_list li dl #info{font-size:16px; color:#444; margin-top:5px; font-family: 'HanaA';}
.book_list li dl #point{font-size:20px;  color:#444444;  margin-top:25px;}
.book_list li dl #point #po{font-size:18px;  color:blue;  margin-top:25px;}

.book_list li:hover{transform:translateY(-20px);} 
.book_list li:hover dl{box-shadow:5px 5px 10px rgba(0,0,0,.15);} 
a.bx-prev{position:absolute; left:-70px; top:50%; transform:translateY(-50%); width:50px; height:50px; background:url(슬라이드 이전버튼 이미지 주소) no-repeat; z-index:100;} 
a.bx-next{position:absolute; right:-70px; top:50%; transform:translateY(-50%); width:50px; height:50px; background:url(슬라이드 다음버튼 이미지 주소) no-repeat; z-index:100;}

	











/************************************마지막 영역**************************/
/* notice */
.notice {overflow: hidden; position: relative;}
.notice h3 {float: left; font-size: 15px; margin-right: 30px; }
.notice h3 i {border: 1px solid #ccc; border-radius: 2px; font-size: 10px; padding: 4px; width: 8px; height: 8px; line-height: 8px; display: inline-block; margin-left: 5px; vertical-align: 2px}
.notice ul {float: left; }
.notice li { display: inline-block; width: 400px; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; margin-right: 50px; }
.notice li a {position: relative; font-size: 15px; color:#666; padding-left: 8px;}
.notice li a:before {content: ''; width: 3px; height: 3px; background: #666; position: absolute; left: 0; top: 8px;}
.notice .notice_btn {position: absolute; right: 0; top: 17px; border: 1px solid #e6e6e6; border-radius: 3px; font-size: 14px; line-height: 20px; display: block; padding: 7px 20px; transition: all 0.3s ease; }
.notice .notice_btn:hover {border-color: #000;}

/* info */
.info a {color:#666;}
.info a:hover {color:#00907f;}
.info .f_nav li {display: inline-block; padding: 20px 0;}
.info .f_nav li a {padding: 10px; display: inline-block; font-size: 16px; }
.info .f_nav li:first-child a {padding-left: 0px;}
.info .f_nav li a strong {color:#000; font-weight: bold;}
.info .f_nav li a:hover strong {color:#00907f;}
.info .f_address {font-size: 13px; line-height: 24px; color:#666; margin-bottom: 20px;}
.info .f_address span {padding-right: 15px;}
.info .f_icon ul {overflow: hidden;}
.info .f_icon li {float: left; background: #ccc; margin-right: 15px; padding: 5px 15px 5px 50px ;}
.info .f_icon li.fi1 {background: url(../img/mark01.png) no-repeat 0 5px; padding-left: 45px;}
.info .f_icon li.fi2 {background: url(../img/mark02.png) no-repeat 0 5px}
.info .f_icon li.fi3 {background: url(../img/mark03.png) no-repeat 0 5px}
.info .f_icon li.fi4 {background: url(../img/mark04.png) no-repeat 0 5px; padding-left: 60px;}
.info .f_icon li.fi5 {background: url(../img/mark05.png) no-repeat 0 5px}
.info .family_site {position: absolute; right: 0; top: 20px; border:1px solid #e6e6e6; background: #fafafa; color:#222; border-radius: 3px; font-size: 14px; padding: 7px 20px;    }
.info .family_site i {padding-left: 20px;}
.info .sns_icon {position: absolute; right: 0; top: 70px;}
.info .sns_icon li {display: inline;}



